html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas#c {
    display: block;
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}


.desktop-only {
    
    position: fixed;
    display: none;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: black;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 100%;

}

.desktop-only.visible {

    display: flex;

}

.desktop-only h1{

    font-family: monospace;
    font-size: 1rem;

}
